.text-title{
    font-size: 48px;
    line-height: 64px;
    align-items: unset;
    letter-spacing: 0.02em;
    color: #062847;
    margin-left: 120px;
    margin-top: 117px;
    
}

.text-subtitle{
font-weight: normal;
font-size: 20px;
line-height: 36px;
color: #5A6774;
margin-left: 120px;
padding-top: 25px;
}

.text-mail{
    color: rgb(22, 88, 173);
    cursor: pointer;
}

.cont-button-home{
    margin-left: 120px;
    padding-top: 48px;
    padding-bottom: 265px;
    justify-content: center;
    

}