.main-nav{
    height: 62px;
    background: #1890FF;
    align-items: center;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    


}

.nav-tex{
    color: #FFF;
    font-weight: normal;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 41px;

}